contentDir 'content/'
contentExt '.content'
outputDir 'output/'
outputExt '.js'
scriptExt '.f'
defaultTemplate 'templates/js.template'

backupScripts 1

lolcatDefault 0

lolcatCmd 'lolcat-cc -f'

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal 'normal'

unixTextEditor 'gedit'
winTextEditor 'notepad'

rootBranch 'master'
outputBranch 'master'
